<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sec">
                <h3>About us:</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letter</p>
            <div class="social">
                <ul class="list-unstyled">
<a href=""><li><i class="fab fa-facebook-f"></i></li></a>
<a href=""><li><i class="fab fa-twitter"></i></li></a>
<a href=""><li><i class="fab fa-instagram"></i></li></a>
<a href=""><li><i class="fab fa-google-plus-g"></i></li></a>


                </ul>

            </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="sec">
                    <h3>Useful links:</h3>
                    <div class="links">
                        <ul class="list-unstyled">
        <a href=""><li><i class="fas fa-chevron-right"></i> Home</li></a>
        <a href=""><li><i class="fas fa-chevron-right"></i> About</li></a>
        <a href=""><li><i class="fas fa-chevron-right"></i> Contact</li></a>
        
        
                        </ul>
        
                    </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="sec">
                <h3>Contact info:</h3>
            <div class="contact">
              <p><i class="fas fa-phone"></i> (404)236.7700</p>
              <p><i class="fas fa-map-marker-alt"></i> 6445 Powers Ferry Rd, Suite #360, Atlanta, Georgia 30339</p>
              <p><i class="fas fa-envelope"></i> info@360imaging.com</p>

            </div>
            </div>
            </div>
        </div>
       
    </div>
    </footer>
    <div class="copyright">
        <p>all &copy; copyright is reserved</p>
    </div>